<% provide(:title, "Result") %>
<% if @title.nil? %>
  <p>Not found</p>
<% else %>
  <%= content_tag(:span, "#{@search} の検索結果") %>

  <% if @title %>
    <%= render @title %>
  <% end %>

  <% if @personality %>
    <%= render @personality %>
  <% end %>

  <% if @guest %>
    <%= render @guest %>
  <% end %>
<% end %>

