<header>
  <div class="container">
    <h1><a href="#">Internet Radio Programs</a></h1>
    <div class="nav-right">
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</header>
